@import "math";

$l: 15em;

@mixin rounded-hex($main-radius: 30%, $rounding-radius: 10%, $rotated: false, $precision: 20) {
  $n: 6;
  $central-angle: 360deg/$n;
  $angle: ($n - 2)*180deg/$n;
  $max-var-angle: 2*(90deg - $angle/2);
  $precision: 6;
  $unit-var-angle: $max-var-angle/$precision;

  $r-diff: $main-radius + $rounding-radius;

  $points: ();

  @for $i from 0 to $n {
    $vertex-angle: $i*$central-angle +
      if($rotated, -90deg, 0deg);
    $vertex-x: 50% + $r-diff*cos($vertex-angle);
    $vertex-y: 50% + $r-diff*sin($vertex-angle);

    @for $j from 0 through $precision {
      $curr-angle: $vertex-angle +
        ($j - .5*$precision)*$unit-var-angle;
      $x: $vertex-x +
        $rounding-radius*cos($curr-angle);
      $y: $vertex-y +
        $rounding-radius*sin($curr-angle);

      $points: $points, $x $y;
    }
  }

  clip-path: polygon($points);
}

.elemHex {
  //display: inline-block;
  width: $l; height: $l;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #353535;
  cursor: pointer;
  @include rounded-hex($rotated: true);
}

.hexagonImg{
  position: absolute;
  z-index: -1;
  filter: brightness(0.5) contrast(0.8);

}

.hexagonTitle{
  font-size: 17px;
  letter-spacing: 0.03em;
  font-weight: 500;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #FECC19;
  margin-top: -20px;
}